.footer {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: var(--background-color);
  padding-inline: 10px;
  gap: 20px;
  align-items: center;
}