.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.products__card {
    background-color: var(--products-card-color);
    border-radius: 8px;
    padding: 10px;
}