@import url(./utils/variables.css);
@import url(./blocks/page.css);
@import url(./blocks/header.css);
@import url(./blocks/nav.css);
@import url(./blocks/section.css);
@import url(./blocks/footer.css);
@import url(./blocks/form.css);
@import url(./blocks/products.css);
@import url(./blocks/card.css);