{% extends "base.html" %}
{% block content %}
  <p class="section__description">
    Hello! My name is Yurii Podria and I am the author of this website. Hm... What can I say about myself?
    I am 18. I live in Cracow. I study at the University of Economics in Cracow at the course called Applied Informatics.
    I like playing videogames, laying in my bed and eating. And also I sometimes do code. It seems that I've
    chosen this kind of activity as my future job. Oh wow. Anyway, I hope I get a nice grade for this.
    <br>
    <br>
    <br>
    <br>
    <br>
    (please)
  </p>
{% endblock %}