<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ceneo Web Scraper</title>
</head>
<body>
    <header>
        <h1>Ceneo.pl Web Scraper</h1>
    </header>

    <section>
        {% block content %}
            <p>This is base file</p>
        {% endblock %}
    </section>

    <footer>
        yurii podria
    </footer>
</body>
</html>