<!DOCTYPE html>
<html class="page" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <title>Ceneo Web Scraper</title>
</head>
<body class="page__body">
  <header class="header">
    <h1 class="header__header">Ceneo.pl Web Scraper</h1>
    
    <nav  class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="{{url_for('index')}}" class="nav__link">Home</a>
        </li>
        
        <li class="nav__item">
          <a href="{{url_for('author')}}" class="nav__link">Author</a>
        </li>
        
        <li class="nav__item">
          <a href="{{url_for('extract')}}" class="nav__link">Extract</a>
        </li>
        
        <li class="nav__item">
          <a href="{{url_for('products')}}" class="nav__link">Products</a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="section">
    {% block content %}
      <p class="section__description">This is base file</p>
    {% endblock %}
  </section>

  <footer class="footer">
    <p class="footer__author-name">Yurii Podria</p>
    <p class="footer__university">University of economics in Cracow</p>
  </footer>
  {% block scripts %}
  {% endblock %}
</body>
</html>